input{
  padding: 8px;
  margin :10px;
  background: rgb(224, 119, 119);
  font-size: 20px;
  color: rgb(67, 69, 226);
}
button{
  padding: 10px;
  font-size: 20px;
  background: rgb(119, 224, 119);
  color: rgb(74, 120, 205);
  border-radius: 5px;
  cursor: pointer;
}